body {
    background-color: lightgreen;
    font-family: Arial, sans-serif;
}


iframe {
    width: 100%;
    height: 80vh;
    border: none;
    background-color: lightgreen;
  }

span:after,
span:before {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
    text-decoration: line-through;
    font-size: 24;
}



.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.tab a:hover {
    background-color: #ddd;
}

.tab a.active {
    background-color: #ccc;
}

.column-split {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}
.form-container-split {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    border-left: 1px solid #ccc;
}
@media screen and (max-width: 600px) {
    .column-split, .form-container-split {
        width: 100%;
        flex: none;
    }
}